@model Practica2.Models.CuentaModels
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Menu{
    <li>@Html.ActionLink("Transferencia", "Transferencia", "Bank")</li>
    <li>@Html.ActionLink("Credito", "Credito", "CreditoDebito")</li>
    <li>@Html.ActionLink("Debito", "Debito", "CreditoDebito")</li>
    <li>@Html.ActionLink("Pago Servicio", "PagoServicios", "CreditoDebito")</li>
    <li>@Html.ActionLink("Ver Saldo", "Consulta", "Saldo")</li>

}

@section MenuDer{
    <li>
        @Html.ActionLink("Logout", "Index", "Home")
    </li>
}

<h1 class="page-header"> Saldo </h1>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-support fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Q @Model.saldo</div>
                        <div>Saldo Actual al <p>@DateTime.Now.ToString("d/m/yyyy hh:mm:ss")</p> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

