
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Menu{
    <li>@Html.ActionLink("Transferencia", "Transferencia", "Bank")</li>
    <li>@Html.ActionLink("Credito", "Credito", "CreditoDebito")</li>
    <li>@Html.ActionLink("Debito", "Debito", "CreditoDebito")</li>
    <li>@Html.ActionLink("Pago Servicio", "PagoServicios", "CreditoDebito")</li>
    <li>@Html.ActionLink("Ver Saldo", "Consulta", "Saldo")</li>

}

@section MenuDer{
    <li>
        @Html.ActionLink("Logout", "Index", "Home")
    </li>
}

<h1 class="page-header"> Transferencia </h1>

<div class="panel panel-info">
    <div class="panel-heading">
        Realiza tu Transferencia
    </div>
    <div class="panel-body">
        <form role="form">
            <fieldset>
                <div class="form-group">
                    <input type="text" id="txtCuenta" class="form-control" placeholder="Cuenta">
                </div>
                <div class="form-group">
                    <input type="text" id="txtMonto" class="form-control" placeholder="Monto">
                </div>
                <input type="button" id="btnAceptar" class="btn btn-primary btn-lg" value="Realizar Transferencia">
            </fieldset>
        </form>
    
    </div>
    <div class="panel-footer">
       @DateTime.Now.ToString("d/m/yyyy hh:mm:ss")
    </div>
</div>

<div class="row">
    <div id="correcto" class="alert alert-success">
    </div>
</div>
<div class="row">
    <div id="error" class="alert alert-warning">
    </div>
</div>



<script type="text/javascript" src="../Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#error').hide();
        $('#correcto').hide();
        $('#btnAceptar').click(function () {
            var cuenta = $('#txtCuenta').val();
            var monto = $('#txtMonto').val();

            if (cuenta && (cuenta != '') && monto && (monto != ''))
                transferencia(cuenta, monto);
        });
    });

    function transferencia(cuenta, monto) {
        $.ajax({
            type: "POST",
            url: "/Bank/Transferir",
            data: '{cuenta: "' + cuenta + '", monto : "' + monto + '" }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.resultado == "1") {
                    $('#correcto').html("<p>" + msg.msj + "</p>");
                    $('#correcto').show();
                    $('#error').hide();
                } else {
                    $('#error').html("<p>" + msg.msj + "</p>");
                    $('#error').show();
                    $('#correcto').hide();
                }
            },
            error: function (result) {
                alert("ERROR " + result.status + ' ' + result.statusText);
            }
        });

    };
</script>


